{{- define "main" -}}

{{- $justify := false -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}
<div class="article-container">
    {{- partial "article-header-nodate.html" . -}}
    <article class="article markdown-body" {{- if $justify -}}style="text-align: justify;" {{- end -}}>
        {{- with .Params.cover -}}<p><img class="cover" src="{{- . | safeURL -}}" alt></p>{{- end -}}
        {{- .Content -}}
    </article>
    
    {{- partial "article-labels.html" . -}}
    {{- partial "article-share.html" . -}}
    {{- partial "article-license.html" . -}}
    {{- partial "article-author.html" . -}}
    {{- partial "article-extra.html" . -}}
</div>
<div class="article bottom">
  {{- partial "article-bottom-navigation.html" . -}}
  {{- partial "article-comments.html" . -}}
</div>
{{- end -}}
